@{ 

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Create Programmer", "CreateProgrammer", "Programmer")</li>
            <li>@Html.ActionLink("Edit Programmer", "UpdateProgrammer", "Programmer")</li>
            <li>@Html.ActionLink("Delete Programmer", "DeleteProgrammer", "Programmer")</li>
            <li>@Html.ActionLink("Get Programmers by name", "GetProgrammersByName", "Programmer")</li>
            <li>@Html.ActionLink("Get Programmer by id", "GetProgrammerById", "Programmer")</li>
        </ul>
    </div>
 <hr>
</body>
</html>